@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

  body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 90vh;
  }
  footer {
    width: 100%;
    background-color: lightgray;
    color: black;
    font-weight: bolder;
    font-size: larger;

    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
    
  }
  footer p{
    padding-top: 20px;
  }
  footer a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
  }
  .home{
    text-align: center;
  }
  .home a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: larger;
  }