@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

  body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  footer {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }