.page {
    margin-top: 5%;
    display:flex;
    width: 90%;
    margin: 5% 5% 5% 5%;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .page h1{
    font-size: 30px;
    font-weight: bolder;
  }
  .page h2{
    font-size: 28px;

  }
  .page h3{
    font-size: 22px;
  }
  .page p{
    font-size: 10px;
    color: lightgray;

  }
  
  .page img{
    width: 23%;
  }
  .page button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
    padding: 10px 10px;
    border: 3px  solid rgb(224, 224, 224);
    transition: all .5s;
    font-family: 'Josefin Sans', sans-serif;
  }

  .page button:hover{
    padding: 10px 10px;
    border: 3px  solid rgb(0, 0, 0);
    transition: all .5s;
    font-family: 'Josefin Sans', sans-serif;
    cursor:pointer;
  }

  @media screen and (max-width: 900px) {
    .page img{
      width: 80%;
    }
  }