.product {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
    background-color: white;

  }
  
  /* On mouse-over, add a deeper shadow */
  .product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.25);
  }
  
  .details{
    cursor:pointer;
  }
  
  /* Add some padding inside the card container */
  .products {
    margin-top: 5%;
    display:flex;
    width: 80%;
    margin: 2% 10% 5% 10%;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .products h1{
    font-size: 160%;
    font-weight: bolder;
  }
  .products h2{
    font-size: 140%;

  }
  .products h4{
    font-size: 100%;
    color: lightgray;

  }
  .search{
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }
  .price-input{
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }
  .input-min, .input-max, #search{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    outline: none;
    border: 2px solid black;
    font-size: large;
    
  }
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }


  .search button, .products button,  .cart button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
    padding: 10px 10px;
    border: 3px  solid rgb(224, 224, 224);
    transition: all .5s;
    font-family: 'Josefin Sans', sans-serif;

  }

  .search button:hover, .products button:hover,  .cart button:hover{
    padding: 10px 10px;
    border: 3px  solid rgb(0, 0, 0);
    transition: all .5s;
    font-family: 'Josefin Sans', sans-serif;
    cursor:pointer;
  }

  .products button{
    margin-bottom: 15px;
  }

  .products img{
    width: 100%;
  }
  .quantityControls{
    display: flex;
    justify-content: space-around;
  }
  .quantityControls img, .quantityControls a{
    width: 50px;
    cursor: pointer;
  }
  
.empty-cart, .checkout-button{
  margin: auto;
  width: 60%;
  text-align: center;
}


  @media screen and (max-width: 900px) {
    .product {
      width: 40%;
      text-align: center;
    }
    .products {
      display:flex;
      width: 96%;
      margin: 2% 2% 5% 2%;
      flex-flow: wrap;
      justify-content: space-around;
    }
    .search{
      flex-flow: wrap;
      display:block;
      text-align: center;
      width: 60%;
      margin-left: 15%;
      margin-right: 20%;
    }
    .price-input{
      display: block;
    }
  }
  